In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [5]:
cars = pd.read_csv("./data/xe_tot/cars.csv", index_col=0)

### Drop columns -> Data integration -> Data cleaning -> Data transformation

### Drop columns

In [6]:
drop_columns = ['name', 'source_url']
cars.drop(columns=drop_columns)

,brand,model,type,origin,km_driven,external_color,seats,fuels,transmission,price,year
0,Kia,Sportage,NONE,imported,1000,Trắng,5,gasoline,automatic,299000000,2022
1,Ford,Transit,NONE,imported,0,Khác,16,diesel,manual,819000000,2023
2,Ford,Transit,NONE,imported,0,Khác,16,diesel,manual,819000000,2023
3,Ford,Transit,NONE,imported,0,Khác,16,diesel,manual,819000000,2023
4,Ford,Transit,NONE,imported,0,Khác,16,diesel,manual,819000000,2023
...,...,...,...,...,...,...,...,...,...,...,...
1465,Mazda,3,sedan,imported,0,Đỏ,5,gasoline,automatic,743000000,2022
1466,Chevrolet,Aveo,sedan,imported,93000,Trắng,4,gasoline,manual,238000000,2016
1467,Ford,Ranger,pickup,imported,0,Đen,4,diesel,automatic,756000000,2022
1468,Mitsubishi,Attrage,sedan,imported,37000,Trắng,4,gasoline,manual,349000000,2021
1469,Nissan,Almera,sedan,imported,0,Trắng,5,gasoline,automatic,595000000,2022

### Data integration

### Data cleaning (remove missing value: None, NA; fill missing value using source url)

In [13]:
cars.model = cars.model.apply(lambda x: x.lower().strip())
cars.model.value_counts()

ranger      56
fortuner    54
khác        49
vios        42
accent      41
            ..
livina       1
prado        1
taycan       1
bentayga     1
aveo         1
Name: model, Length: 153, dtype: int64

In [16]:
cars.type = cars.type.apply(lambda x: x.lower().strip())
cars.type.replace({
    'none': pd.NA
}, inplace=True)
cars.type.value_counts()

suv          641
sedan        480
pickup       102
van          102
hatchback     95
coupe          1
Name: type, dtype: int64

https://www.kaggle.com/code/vbmokin/used-cars-price-prediction-by-15-models

In [18]:
cars.km_driven.value_counts()
# drop outliers: km_driven = 0, 1

0         389
1          41
50000      29
60000      21
78000      21
         ...
18888       1
36500       1
1900        1
104000      1
6600        1
Name: km_driven, Length: 265, dtype: int64

In [21]:
cars.external_color.value_counts()
# drop none, khác

Trắng         472
Đen           268
Đỏ            216
Bạc           138
Khác           92
Xanh dương     76
Xám            71
Nâu            42
Vàng           39
Cam            38
Xanh lá        10
None            8
Name: external_color, dtype: int64

In [23]:
cars.seats.value_counts()
# drop none, 0 or use source url to lookup data

5       834
7       429
4        90
8        55
16       20
6        17
2         9
0         9
9         4
None      2
10        1
Name: seats, dtype: int64

In [25]:
cars.fuels.value_counts()
# drop NONE, 0, None or use source url to lookup data

gasoline    1143
diesel       293
electric      10
hybrid         9
NONE           7
0              6
None           2
Name: fuels, dtype: int64

In [27]:
cars.transmission.value_counts()
# drop None, 0 or use source url to lookup date

automatic    1225
manual        229
None           10
0               6
Name: transmission, dtype: int64

In [29]:
cars.price.value_counts()
# drop outliers

None          20
2499000000    17
595000000     15
1929000000    12
639000000     12
              ..
38000000       1
747000000      1
1099900000     1
1459000000     1
349000000      1
Name: price, Length: 674, dtype: int64

In [31]:
cars.year.value_counts()
# drop None

2022    383
2019    164
2021    145
2023    143
2020    116
2018     97
2017     82
2016     73
2015     56
2014     34
2007     23
2010     22
2013     19
2008     19
2009     18
2011     15
2012     13
None     10
2004      9
2003      7
2005      7
2006      5
2001      3
2002      2
2000      2
2024      1
1999      1
1995      1
Name: year, dtype: int64

### Data transformation (from categorical to numerical)