# Series

In [6]:
import pandas as pd
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

pd.read_csv("../data/san_xe_hot/links.csv")

   Unnamed: 0                                               link   car_type
0           0        /mua-ban-xe/mercedes--benz-class-27548.html      Sedan
1           1        /mua-ban-xe/mercedes--benz-class-27547.html      Sedan
2           2   /mua-ban-xe/kia-new-sorento-22at-2014-26003.html  SUV 7 chỗ
3           3  /mua-ban-xe/mercedes--benz-s400-30at-2016-2600...      Sedan
4           4       /mua-ban-xe/lexus-rx350-35at-2011-26000.html  SUV 5 chỗ
5           5       /mua-ban-xe/mazda-2s-15at-2012458-25998.html      Sedan
6           6       /mua-ban-xe/kia-morning-10at-2011-25997.html  Hatchback
7           7  /mua-ban-xe/mercedes-benz-gla-45-amg-20at-2016...  Hatchback
8           8  /mua-ban-xe/chevrolet-captiva-24at-2007-25991....  SUV 7 chỗ
9           9   /mua-ban-xe/ford-ranger-xls-22mt-2014-25989.html    Bán tải